<argument>
    <serverArgument>
        <commonParam>
            <serverName>MyServer</serverName>
            <type>RPC</type>
            <goMod>myserver</goMod>
            <idlPath>/path/to/idl</idlPath>
            <outDir>/path/to/output</outDir>
            <registry>etcd</registry>
        </commonParam>
        <template>myTemplate</template>
        <branch>main</branch>
        <sliceParam>
            <pass>pass1</pass>
            <pass>pass2</pass>
            <protoSearchPath>/path/to/proto</protoSearchPath>
        </sliceParam>
        <hex>true</hex>
        <cwd>/path/to/cwd</cwd>
        <goSrc>/path/to/goSrc</goSrc>
        <goPkg>myGoPkg</goPkg>
        <goPath>/path/to/goPath</goPath>
    </serverArgument>

    <clientArgument>
        <commonParam>
            <serverName>MyClient</serverName>
            <type>HTTP</type>
            <goMod>myclient</goMod>
            <idlPath>/path/to/client/idl</idlPath>
            <outDir>/path/to/client/output</outDir>
            <registry>consul</registry>
        </commonParam>
        <sliceParam>
            <pass>clientPass1</pass>
            <pass>clientPass2</pass>
            <protoSearchPath>/path/to/client/proto</protoSearchPath>
        </sliceParam>
        <template>clientTemplate</template>
        <branch>develop</branch>
        <cwd>/path/to/client/cwd</cwd>
        <goSrc>/path/to/client/goSrc</goSrc>
        <goPkg>myClientPkg</goPkg>
        <goPath>/path/to/client/goPath</goPath>
    </clientArgument>

    <modelArgument>
        <dsn>user:password@tcp(localhost:3306)/dbname</dsn>
        <type>mysql</type>
        <tables>
            <table>users</table>
            <table>orders</table>
        </tables>
        <excludeTables>
            <table>logs</table>
        </excludeTables>
        <onlyModel>true</onlyModel>
        <outPath>/path/to/model/out</outPath>
        <outFile>model.go</outFile>
        <withUnitTest>true</withUnitTest>
        <modelPkgName>mymodel</modelPkgName>
        <fieldNullable>false</fieldNullable>
        <fieldSignable>true</fieldSignable>
        <fieldWithIndexTag>true</fieldWithIndexTag>
        <fieldWithTypeTag>false</fieldWithTypeTag>
        <sqlDir>/path/to/sql</sqlDir>
    </modelArgument>

    <docArgument>
        <goMod>mydoc</goMod>
        <packagePrefix>com.example</packagePrefix>
        <idlPath>/path/to/idl</idlPath>
        <idlType>proto</idlType>
        <outDir>/path/to/doc/output</outDir>
        <name>MyDoc</name>
        <modelDir>/path/to/model</modelDir>
        <daoDir>/path/to/dao</daoDir>
        <protoSearchPath>/path/to/proto</protoSearchPath>
        <protocOptions>--proto_path=/path/to/proto</protocOptions>
        <thriftOptions>--gen=go</thriftOptions>
        <genBase>true</genBase>
    </docArgument>

    <jobArgument>
        <goMod>myjob</goMod>
        <packagePrefix>com.jobs</packagePrefix>
        <jobName>job1</jobName>
        <jobName>job2</jobName>
        <outDir>/path/to/job/output</outDir>
    </jobArgument>

    <apiArgument>
        <projectPath>/path/to/project</projectPath>
        <hertzRepoUrl>https://github.com/hertz</hertzRepoUrl>
    </apiArgument>

    <fallbackArgument>
        <toolType>toolA</toolType>
        <args>arg1</args>
        <args>arg2</args>
    </fallbackArgument>
</argument>
